{
  "application_status" : "0",
  "state" : "<%= model.applyingCoverageState %>", 
  "audience":"family",
  "coverage":"<%= model.coverage %>",
  "family_size":"<%= (model.noOfFamily) ? model.noOfFamily : 1 %>",
  "assistance":"1",
  "filing":"<%= model.taxFilingStatus %>",
  "dependent_nonparent":"<%= model.taxFilingDependentQuestion %>",
  "citizens":"1",
  "naturalized":"0",
  "employer_ins":"0",
  "pregnant":"0",
  "student":"0",
  "tribal":"0",
  "foster":"0",
  "incarcerated":"0",
  "living_outside":"0",
  "fixed_address":"0"
 }
