<div id="screener">
    <div class="control-group">
        <div class="controls">
            <fieldset id="appFS" class="" data-error-style="inline">
                <legend>
                    <%- content.appFSlegend_text %></legend>
                <input type="radio" name="app" id="app-yes" value="yes">
                <label class="radio-label" for="app-yes">
                    <span></span>
                    <%- content.appInd_text %></label>
                <input type="radio" name="app" id="app-no" value="no">
                <label class="radio-label" for="app-no">
                    <span></span>
                    <%- content.appSbiz_text %></label>
            </fieldset>
        </div>
    </div>
</div>
