<div class="simplemodal-topdiv">
    <p class="modalHeading">The EZ application can't determine eligibility for this applicant. Click the button below to connect to the full Marketplace application to enter this applicant's information.</p>
</div>    
<div id="simplemodal-bottomdiv"  class="simplemodal-bottomdiv">
    <button type="button" class="simplemodal-button btn btn-green btn-large" onclick="javascript:window.open('https://www.healthcare.gov/marketplace/global/en_US/registration','_self');return false;">CONTINUE TO THE FULL MARKETPLACE APPLICATION</button>
</div>
    

    