<div id="ezapp">
<div class="control-group">
    <div class="controls">
        <fieldset id="incarcerationfield" class="" data-error-style="inline">
            <legend>
               <%- content.incarcerationlegend_text %> 
            </legend>
            <input type="radio" name="incarceration" id="incarcerationYes" value="Yes" data-toggle="expBox" data-target="#expBox1">
            <label class="radio-label" for="incarcerationYes">
                <span></span> <%- content.incarcerationYes_text %></label>
            <div class="expandBox hidden" id="expBox1">
                <fieldset>
                    <legend>
                        <%- content.incarcerationInfolegend_text %>
                    </legend>
                    <div id="nameList"></div>        
                </fieldset>        
            </div>
            <input type="radio" name="incarceration" id="incarcerationNo" value="No">
            <label class="radio-label" for="incarcerationNo">
                <span></span><%- content.incarcerationNo_text %> </label>
        </fieldset>
    </div>
</div>
</div>