<div id="ezapp">
<div class="control-group">
    <div class="controls">
        <fieldset id="livingoutsidefield" class="" data-error-style="inline">
            <legend>
                <%- content.livingoutsidelegend_text %> 
            </legend>
            <input type="radio" name="livingoutside" id="livingoutsideYes" value="Yes">
            <label class="radio-label" for="livingoutsideYes">
                <span></span><%- content.livingoutsideYes_text %></label>
            <input type="radio" name="livingoutside" id="livingoutsideNo" value="No">
            <label class="radio-label" for="livingoutsideNo">
                <span></span><%- content.livingoutsideNo_text %></label>
        </fieldset>
    </div>
</div>
</div>