<div id="person">
<div class="control-group">
    <div class="controls">
        <label class=""><%- content.otherIncomeWages_text %></label>
        <input id="<%=Section %>otherIncomeWages" name="<%=Section %>OtherIncomeAmount" type="text" value="" maxlength="25"/>
    </div>
</div>  

<fieldset>
    <legend><%- content.otherIncomeWagesPeriod_text %></legend>
    
    <div class="control-group">
        <div class="controls">    
            <input type="radio" name="<%=Section %>otherIncomeUnemploymentHowOften" id="<%=Section %>otherIncomeWagesPeriodHourly" value="Hourly" /> 
            <label for="<%=Section %>otherIncomeWagesPeriodHourly"><span></span><%- content.otherIncomeWagesPeriodHourly_text %></label>
            <input type="radio" name="<%=Section %>otherIncomeUnemploymentHowOften" id="<%=Section %>otherIncomeWagesPeriodweekly" value="Weekly" /> 
            <label for="<%=Section %>otherIncomeWagesPeriodweekly"><span></span><%- content.otherIncomeWagesPeriodweekly_text %></label>
            <input type="radio" name="<%=Section %>otherIncomeUnemploymentHowOften" id="<%=Section %>otherIncomeWagesPeriod2weeks" value="Every 2 weeks" /> 
            <label for="<%=Section %>otherIncomeWagesPeriod2weeks"><span></span><%- content.otherIncomeWagesPeriod2weeks_text %></label>
            <input type="radio" name="<%=Section %>otherIncomeUnemploymentHowOften" id="<%=Section %>otherIncomeWagesPeriodTwiceMonth" value="Twice a month" /> 
            <label for="<%=Section %>otherIncomeWagesPeriodTwiceMonth"><span></span><%- content.otherIncomeWagesPeriodTwiceMonth_text %></label>
            <input type="radio" name="<%=Section %>otherIncomeUnemploymentHowOften" id="<%=Section %>otherIncomeWagesPeriodMonthly" value="Monthly" /> 
            <label for="<%=Section %>otherIncomeWagesPeriodMonthly"><span></span><%- content.otherIncomeWagesPeriodMonthly_text %></label>
            <input type="radio" name="<%=Section %>otherIncomeUnemploymentHowOften" id="<%=Section %>otherIncomeWagesPeriodYearly" value="Yearly" /> 
            <label for="<%=Section %>otherIncomeWagesPeriodYearly"><span></span><%- content.otherIncomeWagesPeriodYearly_text %></label>
        </div>
    </div>
</fieldset>  
</div>  
 