<fieldset id="needHealthCoveragefield" class="" data-error-style="inline">
    <legend><%- content.needHealthCoveragelegend_text %></legend>
                      
    <input type="radio" name="needHealthCoverage" id="needHealthCoverageyes" value="Yes">
    <label class="radio-label" for="needHealthCoverageyes"><span></span><%- content.needHealthCoverageyes_text %></label>
                      
    <input type="radio" name="needHealthCoverage" id="needHealthCoverageno" value="No">
    <label class="radio-label" for="needHealthCoverageno"><span></span><%- content.needHealthCoverageno_text %></label>
</fieldset>

<fieldset id="taxFilingStatusfield" class="" data-error-style="inline">
    <legend><%- content.taxFilingStatuslegend_text %></legend>
                      
    <input type="radio" name="taxFilingStatus" id="taxFilingStatusjoint" value="joint">
    <label class="radio-label" for="taxFilingStatusjoint"><span></span><%- content.audtaxFlngjoint_text %></label>
                      
    <input type="radio" name="taxFilingStatus" id="taxFilingStatusseparate" value="separate">
    <label class="radio-label" for="taxFilingStatusseparate"><span></span><%- content.audtaxFlngseparate_text %></label>

    <input type="radio" name="taxFilingStatus" id="taxFilingStatusnotmarried" value="notmarried">
    <label class="radio-label" for="taxFilingStatusnotmarried"><span></span><%- content.audtaxFlngnotmarried_text %></label>

    <input type="radio" name="taxFilingStatus" id="taxFilingStatusNot" value="notfiling">
    <label class="radio-label" for="taxFilingStatusNot"><span></span><%- content.audtaxFlngNot_text %></label>
</fieldset>


<fieldset id="isUSCitizenfield" class="" data-error-style="inline">
    <legend><%- content.isUSCitizenlegend_text %></legend>
                      
    <input type="radio" name="isUSCitizen" id="isUSCitizenYes" value="Yes">
    <label class="radio-label" for="isUSCitizenYes"><span></span><%- content.isUSCitizenYes_text %></label>
                      
    <input type="radio" name="isUSCitizen" id="isUSCitizenNo" value="No">
    <label class="radio-label" for="isUSCitizenNo"><span></span><%- content.isUSCitizenNo_text %></label>

</fieldset>


<fieldset id="employmentStatusfield" class="" data-error-style="inline">
    <legend><%- content.employmentStatuslegend_text %></legend>
                      
    <input type="radio" name="employmentStatus" id="employmentStatusYes" value="Yes">
    <label class="radio-label" for="employmentStatusYes"><span></span><%- content.employmentStatusYes_text %>yes</label>
                      
    <input type="radio" name="employmentStatus" id="employmentStatusNo" value="No">
    <label class="radio-label" for="employmentStatusNo"><span></span><%- content.employmentStatusNo_text %>no</label>
</fieldset>

<fieldset id="pregnantfield" class="" data-error-style="inline">
    <legend><%- content.pregnantlegend_text %></legend>
                      
    <input type="radio" name="pregnant" id="pregnantYes" value="Yes">
    <label class="radio-label" for="pregnantYes"><span></span><%- content.pregnantYes_text %></label>
                      
    <input type="radio" name="pregnant" id="pregnantNo" value="No">
    <label class="radio-label" for="pregnantNo"><span></span><%- content.pregnantNo_text %></label>
</fieldset>

<fieldset id="willBeClaimedAsDependentfield" class="" data-error-style="inline">
    <legend><%- content.willBeClaimedAsDependentlegend_text %></legend>
                      
    <input type="radio" name="willBeClaimedAsDependent" id="willBeClaimedAsDependentYes" value="Yes">
    <label class="radio-label" for="willBeClaimedAsDependentYes"><span></span><%- content.willBeClaimedAsDependentYes_text %></label>
                      
    <input type="radio" name="willBeClaimedAsDependent" id="willBeClaimedAsDependentNo" value="No">
    <label class="radio-label" for="willBeClaimedAsDependentNo"><span></span><%- content.willBeClaimedAsDependentNo_text %></label>
</fieldset>

<fieldset id="isFulltimeStudentfield" class="" data-error-style="inline">
    <legend><%- content.isFulltimeStudentlegend_text %></legend>
                      
    <input type="radio" name="isFulltimeStudent" id="isFulltimeStudentYes" value="Yes">
    <label class="radio-label" for="isFulltimeStudentYes"><span></span><%- content.isFulltimeStudentYes_text %>y</label>
                      
    <input type="radio" name="isFulltimeStudent" id="isFulltimeStudentNo" value="No">
    <label class="radio-label" for="isFulltimeStudentNo"><span></span<%- content.isFulltimeStudentNo_text %>></label>
</fieldset>

<fieldset id="isCoveredbyTribalfield" class="" data-error-style="inline">
    <legend><%- content.isCoveredbyTriballegend_text %></legend>
                      
    <input type="radio" name="isCoveredbyTribal" id="isCoveredbyTribalYes" value="Yes">
    <label class="radio-label" for="isCoveredbyTribalYes"><span></span><%- content.isCoveredbyTribalYes_text %></label>
                      
    <input type="radio" name="isCoveredbyTribal" id="isCoveredbyTribalNo" value="No">
    <label class="radio-label" for="isCoveredbyTribalNo"><span></span><%- content.isCoveredbyTribalNo_text %></label>
</fieldset>

<fieldset id="wasInFosterCarefield" class="" data-error-style="inline">
    <legend><%- content.wasInFosterCarefieldlegend_text %></legend>
                      
    <input type="radio" name="wasInFosterCare" id="wasInFosterCareYes" value="Yes">
    <label class="radio-label" for="wasInFosterCareYes"><span></span><%- content.wasInFosterCareYes_text %></label>
                      
    <input type="radio" name="wasInFosterCare" id="wasInFosterCareNo" value="No">
    <label class="radio-label" for="wasInFosterCareNo"><span></span><%- content.wasInFosterCareYes_text %></label>
</fieldset>


