<div id="ezapp">
  <b>Please review the following information you have submitted </b><br /><br />

  <%- content.firstJobState %> : <b><span name="firstJobState"></span><br /></b>
  <%- content.coverage %> : <b><span name="coverage"></span><br /></b>
  <%- content.noOfFamily %> : <b><span name="noOfFamily"></span><br /></b>
  <%- content.needAssistance %> : <b><span name="needAssistance"></span><br /></b>
  <%- content.isIncomeBelowPovertyLevel %> : <b><span name="isIncomeBelowPovertyLevel"></span><br /></b>
  <%- content.isAnyoneEnrolled %> : <b><span name="isAnyoneEnrolled"></span><br /></b>
  <%- content.incarceration %> : <b><span name="incarceration"></span><br /></b>
  <%- content.renewalAgreement %> : <b><span name="renewalAgreement"></span><br /></b>
  <%- content.coverageRenewalPeriod %> : <b><span name="coverageRenewalPeriod"></span><br /></b>
  <%- content.haveOtherCoverage %> : <b><span name="haveOtherCoverage"></span><br /></b>
  <%- content.otherCoverageType %> : <b><span name="otherCoverageType"></span><br /></b>
  <%- content.nameOfInsurance %> : <b><span name="nameOfInsurance"></span><br /></b>
  <%- content.policyNumber %> : <b><span name="policyNumber"></span><br /></b>
  <%- content.isCOBRACoverage %> : <b><span name="isCOBRACoverage"></span><br /></b>
  <%- content.isRetireePlan %> : <b><span name="isRetireePlan"></span><br /></b>
  <%- content.incarcerationPersonName %> : <b><span name="incarcerationPersonName"></span><br /></b>
  <%- content.incarcerationPendingCharges %> : <b><span name="incarcerationPendingCharges"></span><br /></b>
  <%- content.livingoutside %> : <b><span name="livingoutside"></span><br /></b>
  <br /><br />
</div>
<div id="poc">
  <%- content.firstName %> : <b><span name="firstName"></span><br /></b>
  <%- content.lastName %> : <b><span name="lastName"></span><br /></b>
  <%- content.middleName %> : <b><span name="middleName"></span><br /></b>
  <%- content.suffix %> : <b><span name="suffix"></span><br /></b>
  <%- content.needInfoByEmail %> : <b><span name="needInfoByEmail"></span><br /></b>
  <%- content.emailAddress %> : <b><span name="emailAddress"></span><br /></b>
  <%- content.isMailingAddress %> : <b><span name="isMailingAddress"></span><br /></b>
  <%- content.preferredLanguage %> : <b><span name="preferredLanguage"></span><br /></b>
  <%- content.streetName %> : <b><span name="streetName"></span><br /></b>
  <%- content.apt %> : <b><span name="apt"></span><br /></b>
  <%- content.city %> : <b><span name="city"></span><br /></b>
  <%- content.state %> : <b><span name="state"></span><br /></b>
  <%- content.zip %> : <b><span name="zip"></span><br /></b>
  <%- content.county %> : <b><span name="county"></span><br /></b>
  <%- content.isMailingAddress %> : <b><span name="isMailingAddress"></span><br /></b>
  <%- content.phoneNumber %> : <b><span name="phoneNumber"></span><br /></b>
  <%- content.extension %> : <b><span name="extension"></span><br /></b>
  <%- content.phonetype %> : <b><span name="phonetype"></span><br /></b>
</div>
<br /><br />
<div id="persons">
</div>